<!DOCTYPE html>
<html>
<head>
  <title>DonorsSelect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= pusher_meta_tags %>
  <%= token_meta_tag %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
  	<div class="container">
      <div id="header">
        <div id="logo-outer">
          <div id="logo-left"><a href="/"><h2>DonorsSelect</h2></a></div>
          <div id="tagline-right">
            <h1 id="main-tag"> 13,000 classroom projects need your help.</h1>
            <h1 id="sub-tag"> Find the perfect one.</h1>
          </div>
        </div>
      </div>
		</div>
  </div>
</div>

<%= yield %>

<div id="footer">
  <div id="images-container">
    <div id="images-left" class="clearfix">
      <h3>Lovingly crafted by:</h3>
      <div id="images-right-float">
        <a href="http://twitter.com/mikec" target="_blank"><img alt="Mike Chilpala" src="/assets/mike.jpg" /></a>
        <a href="http://twitter.com/melanieeeg" target="_blank"><img alt="Melanie Gilman" src="/assets/melanie.jpg" /></a>
        <a href="http://twitter.com/jkoszewski" target="_blank"><img alt="Jan Koszewski" src="/assets/jan.jpg" /></a>
        <a href="http://twitter.com/eliseworthy" target="_blank"><img alt="Elise Worthy" src="/assets/elise.jpg" /></a>
      </div>
    </div>
    </div>
  </div>
</div>

</body>
</html>