<!DOCTYPE html>
<html>
<head>
  <title>DonorsSelect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= pusher_meta_tags %>
  <%= token_meta_tag %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
  	<div class="container">
      <div id="logo-nav">
        <div id="logo-image">
        <div class="logo"><h2>DonorsSelect</h2></div>
        </div>
        <div class="tagline">
          <h1 class="tag"> 14,000 classroom projects need your help.</h1>
          <h1 class="sub-tag"> Find the perfect one.</h1>
        </div>
      </div>
		</div>
  </div>
</div>

<%= yield %>

</body>
</html>